.login-content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0px;
  column-gap: 2rem;
}

.login-data {
  max-width: 30rem;
  padding: 1rem;
}

.login-banner {
  display: inline-block;
  background: url("../../assets//login.jpg") no-repeat center/cover;
  width: 50vw;
  min-height: 1000px;
}

@media(max-width: 40rem){
  .login-content {
    grid-template-columns: 1fr;
  }

  .login-banner {
    display: none;
  }

  .login-data {
    max-width: initial;
  }
}