.formLogin {
  padding-block: 1rem;
  margin-bottom: 1rem;
}

.formLogin h1 {
  margin-block: 1rem;
}

.formLogin label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formLogin input {
  margin-bottom: 0.5rem;
}

.formLogin button {
  margin-top: 16px;
}