.formLogin {
  padding-block: 1rem;
  margin-bottom: 1rem;
}

.formLogin h1 {
  margin-block: 1rem;
}

.formLogin label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formLogin input {
  margin-bottom: 0.5rem;
}

.formLogin button {
  margin-block: 1rem;
}

.formLogin span {
  display: block;
  color: #f31;
  font-size: 0.875rem;
  padding: 0;
  margin-bottom: 0.3125rem;
}