.header {
  width: 100%;
  position: fixed;
  box-shadow: 1px 1px rgba(0, 0, 0, 10%);
  top: 0;
}

.header .h-nav {
  max-width: 50rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-inline: auto;
}