.subscribeContainer .linkPassword{
  padding-block: 0.5rem;
  margin-bottom: 4rem;
}

.subscribeContainer p {
  margin-block: 2.1875rem 1.5625rem;
}

.btnSubscribe {
  display: inline-block;
  min-width: 8rem;
  color: #764701;
  font-family: var(--type-first);
  font-size: 1rem;
  background: #ffbb11;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s;
  text-align: center;
}

.btnSubscribe:hover,
.btnSubscribe:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffeeaa, 0 0 0 4px #ffbb11;
}

.linkPassword {
  display: inline-block;
  color: #666666;
}

.linkPassword::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: currentColor;
}